#Settings
SECRET_KEY=django_secret_key
DEBUG=True/False

#DATABASES
DB_ENGINE=django_db_backends_engine 
DB_NAME=name_database
DB_USER=user_database
DB_PASSWORD=password_user_database

#Stripe
STRIPE_API_KEY=stripe_key